{% extends 'base.html.twig' %}

{% block title %}Mini E-Commerce{% endblock %}

{% block body %}
    <br>
    <h1>It's an new e-commerce</h1>
{% endblock %}

{% block javascripts %}
    <script src="/js/main.js"></script>
{% endblock %}