{% extends 'base.html.twig' %}

{% block title %}Order{% endblock %}

{% block body %}
    {% if order %}
        <table id="orderItems" class="table table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Address</th>
                    <th>Total Price</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for order in order %}
                    <tr>
                        <td>{{ order.createdAt|date('Y-m-d H:i:s') }}</td>
                        <td>{{ order.orderAddress }}</td>
                        <td>{{ order.totalPrice }}</td>
                        <td>{{ order.Status }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No product in here</p>        
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script src="/js/main.js"></script>
{% endblock %}